mat-card {
  text-align: center;
  color: #148e93;
  background-color: #ffffff;
  border: 1px solid #148e93;
  padding: 0;
  width: 95%;
  margin: 50px auto;
}

mat-card-title {
  background-color: #80a2ff86;
  color: #148e93;
}

span {
  text-decoration: underline;
}

h1{
  text-align: center;
  margin: auto;
}

button{
  background-color: #80a2ff86;
  color: #148e93;
}

.name{
  display: flex;
}
